<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.username">ADMIN</property>
		<property name="hibernate.connection.password">....</property>
		<property name="hibernate.connection.url">jdbc:oracle:thin:@revature.ctfzxm5svguo.us-west-2.rds.amazonaws.com:1521:ORCL</property>
		<property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
		<!-- this is very noisy in the console -->
		<property name="hibernate.show_sql">true</property>
		<!-- creates database if "create", keeps existing structure and values if "update" or nothing -->
		<property name="hibernate.hbm2ddl.auto">create</property> <!-- create / update -->
		<!-- map domain object classes -->
		<!-- <mapping class="com.revature.domain.Bat"/>
		<mapping class="com.revature.domain.BatType"/>
		<mapping class="com.revature.domain.BatColony"/>  -->
 		<mapping class="com.comfyhub.domain.District"/>
		<mapping class="com.comfyhub.domain.Listing"/>
		<mapping class="com.comfyhub.domain.Payment"/>
		<mapping class="com.comfyhub.domain.Property"/>
		<mapping class="com.comfyhub.domain.PropertyImage"/>
		<mapping class="com.comfyhub.domain.TransactionHist"/>
		<mapping class="com.comfyhub.domain.User"/> 
	</session-factory> 
</hibernate-configuration>